body {
    background-image: url("https://images.pexels.com/photos/1036808/pexels-photo-1036808.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top 10px right 20px;
    font-family: 'Poppins', 'sans-serif';
    background-color: rgb(216, 226, 239);
}

.nav {
    color: rgb(1, 28, 10);
}

.footer {

}
